In [3]:
one_thousand = list(range(1001))
new_list = []
for num in one_thousand:
    if num % 7 == 0:
        new_list.append(num)

print(new_list)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [7]:
another_new_list = ["hi mom" for x in one_thousand if x % 7 == 0]

In [8]:
print(another_new_list)

['hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom', 'hi mom']

In [9]:
ten = range(10)

In [10]:
[x**2 for x in ten]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
[x**2 for x in ten if x % 2]

[1, 9, 25, 49, 81]

In [27]:
with open("/usr/share/dict/words") as f:
    word_list = f.read().split()

def upper_vowels(word):
    lov = "aeiouAEIOU"
    wl = [letter.upper() if (letter in lov) else letter.lower() for letter in word]
    return "".join(wl)

[ upper_vowels(word) for word in word_list if "qq" in word and "z" in word]

['zAqqUm']

In [24]:
#ternary statement.
def lhs():
    print("lhs")

def rhs():
    print("rhs")

In [26]:
lhs() if False else rhs()

rhs

In [28]:
[x**2 for x in ten]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
tup = (x**2 for x in ten)

In [39]:
def get_even_odd_str(x):
    return "odd" if x % 2 else "even"
{integer:get_even_odd_str(integer) for integer in ten}

{0: 'even',
 1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [46]:
{x for x in list(ten) * 100}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
set1 = set(["cat", "dog"])     # Initialize set from a list
set2 = set(["dog", "mouse"])
setN = set(["cat", "mouse", "horse", "dog"])

In [55]:
set3 = set1 & set2 
set3

{'dog'}

In [56]:
set4 = set1 | set2
set4

{'cat', 'dog', 'mouse'}

In [57]:
set5 = set1 - set3 
set5

{'cat'}

In [58]:
set1 - set2

{'cat'}

In [60]:
set6 = set1 ^ set2
set6

{'cat', 'mouse'}

In [99]:
def splat_args_function(positional_arg, *many_args):
    print(positional_arg)
    print(many_args)

In [108]:
def three_positional_args_func(one, two, three):
    print(one)
    print(two)
    print(three)

In [110]:
three_positional_args_func(*["beer", "coffee", "water"])

beer
coffee
water

In [112]:
three_positional_args_func("beer", "coffee", "water")

beer
coffee
water

In [113]:
def print_args(*args):
    for index, arg in enumerate(args):
        print("{} {}".format(index, arg))

In [115]:
print_args("coffee", "beer", "water", "OJ", "Milk")

0 coffee
1 beer
2 water
3 OJ
4 Milk

In [119]:
def ex_key_word_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [122]:
ex_key_word_args(key="value", amount=4, blah="di")

{'blah': 'di', 'amount': 4, 'key': 'value'}
<class 'dict'>

In [126]:
print(*range(10),end="I'm done!", sep=" <--> ")

0 <--> 1 <--> 2 <--> 3 <--> 4 <--> 5 <--> 6 <--> 7 <--> 8 <--> 9I'm done!

In [128]:
def our_own_print(*to_print, end="\n", sep=" "):
    return sep.join([str(elem) for elem in to_print]) + end

In [131]:
our_own_print(5,6,7, end="I'm done!", sep=" <--> ")

"5 <--> 6 <--> 7I'm done!"

In [132]:
my_dict = {"coffee": "morning", "beer": "afternoon", "water": "for life"}

In [133]:
ex_key_word_args(**my_dict)

{'water': 'for life', 'coffee': 'morning', 'beer': 'afternoon'}
<class 'dict'>

In [136]:
printkw = {"sep": "+++", "end": "\n\n\nend"}

In [137]:
print(1,2,3, **printkw)

1+++2+++3


end

In [138]:
# Enumerate and ZIP

In [140]:
my_list = ["coffee", "beer", "water"]
for index in enumerate(my_list):
    print(index)

#enumerate of a list returns an iterable of tuples with the 0th element 
#being the index and the 1th element being the value from the list.

(0, 'coffee')
(1, 'beer')
(2, 'water')

In [150]:
for lhs, rhs, other in zip(["coffee", "beer", "water"], ["best", "good", "ok"], ["one", "two", "three"]):
    print(lhs, rhs, other)

coffee best one
beer good two
water ok three