In [113]:
import psycopg2

In [114]:
conn = psycopg2.connect("dbname=sam.boyarsky user=sam.boyarsky host=localhost")
cur = conn.cursor()

In [115]:
cur.execute("SELECT * FROM artist")

In [116]:
cur.fetchall()

[(1, 'BJORK')]

In [153]:
class Artist:
    def __init__(self, name, id=None):
        print(name, id)
        self.id = id
        self.name = name
    
    def load(id):
        cur.execute("SELECT * FROM artist WHERE id=%s", (id,))
        row = cur.fetchone()
        print(row)
        return Artist(row[1], row[0])
    
    def save(self):
        if self.id == None:
            #INSERT
            cur.execute("INSERT INTO artist (name) VALUES (%s) RETURNING id", (self.name,))
            #update the id of this object.
            self.id = cur.fetchone()[0]
            conn.commit()
        else:
            #UPDATE
            cur.execute("UPDATE artist SET name=%s WHERE id=%s", (self.name, self.id))
            conn.commit()
    
    def __repr__(self):
        return self.name
    
class Album:
    def __init__(self, name, artist_id, id=None):
        self.id = id
        self.name = name
        self.artist_id = artist_id
    
    def load(id):
        cur.execute("SELECT id, name, artist_id FROM album WHERE id=%s", (id,))
        row = cur.fetchone()
        print(row)
        return Artist(row[1], row[0])
    
    def save(self):
        if self.id == None:
            #INSERT
            cur.execute("INSERT INTO album (name, artist_id) VALUES (%s, %s)", (self.name, self.artist_id))
            conn.commit()            
        else:
            #UPDATE
            cur.execute("UPDATE album SET name=%s, artist_id=%s WHERE id=%s", (self.name, self.artist_id, self.id))
            conn.commit()
    
    def __repr__(self):
        return self.name

In [142]:
lz = Artist("Led Zeppelin")

Led Zeppelin None

In [143]:
hoth = Album("Houses of the Holy", 2)
hoth.save()

In [144]:
lz4 = Album("ZOZO", 2)
lz4.save()

In [145]:
b.name = "BJORK"

In [146]:
b.save()

In [147]:
b.id

1

In [148]:
new_artist.save()

In [149]:
cur.execute("SELECT * FROM album, artist WHERE album.artist_id=artist.id")

In [150]:
cur.fetchall()

[(1, 'Houses of the Holy', 2, 2, 'Led Zeppelin'),
 (2, 'ZOZO', 2, 2, 'Led Zeppelin'),
 (3, 'Houses of the Holy', 2, 2, 'Led Zeppelin'),
 (4, 'ZOZO', 2, 2, 'Led Zeppelin')]

In [156]:
another_new = Artist("Morphine")

Morphine None

In [159]:
another_new.save()