In [9]:
import psycopg2

In [10]:
conn = psycopg2.connect("dbname=databased user=sam.boyarsky host=/tmp/")

In [11]:
cur = conn.cursor()

In [12]:
sql = "CREATE TABLE IF NOT EXISTS student (id serial PRIMARY KEY, name text, dob date, height numeric);"
cur.execute(sql)

In [13]:
def add_student():
    name = input("name? ")
    dob = input("dob (yyyy-mm-dd)? ")
    height = input("height inches (integer) ")
    sql = "INSERT INTO student (name, dob, height) VALUES (%s, %s, %s)"
    cur.execute(sql, (name, dob, height))

In [14]:
def show_all_students():
    sql = "SELECT * FROM student"
    cur.execute(sql)
    for row in cur:
        print(row)

In [18]:
def update_student():
    show_all_students()
    student_id = input("which id would you like to update? ")
    name = input("name? ")
    sql = "UPDATE student SET name=%s WHERE id=%s"
    cur.execute(sql, (name, student_id))

In [21]:
def delete_student():
    show_all_students()
    student_id = input("which id would you like to update? ")
    sql = "DELETE FROM student WHERE id=%s"
    cur.execute(sql, (student_id,))

In [22]:
delete_student()
show_all_students()

(1, 'Joe', datetime.date(1979, 8, 11), Decimal('69'))
which id would you like to update? 1

In [8]:
conn.commit()
cur.close()
conn.close()