In [94]:
import psycopg2

In [95]:
conn = psycopg2.connect("dbname=test user=sam.boyarsky host=/tmp/")

In [96]:
cur = conn.cursor()

In [107]:
cur.mogrify("INSERT INTO example (dob) VALUES (%s)", ("1999-12-13",))

b"INSERT INTO example (dob) VALUES ('1999-12-13')"

In [88]:
cur.execute("CREATE TABLE IF NOT EXISTS cameron (id serial PRIMARY KEY, num integer, data varchar);")

In [89]:
sql = "SELECT * FROM students"
cur.execute(sql)
cur.fetchall()

[('john dough                      ',
  'D       ',
  'john was a powdered student'),
 ('bryce                           ', 'A       ', 'instructor'),
 ('dana                            ', 'B       ', 'campus director')]

In [90]:
cur.execute("INSERT INTO cameron (num, data) VALUES (%s, %s)", (100, input()))

In [91]:
cur.execute("SELECT * FROM cameron")

In [92]:
cur.fetchall()

[(1, 100, '')]

In [93]:
#commit changes to the database
conn.commit()

In [61]:
#put your toys away when you're done with them.
cur.close()
conn.close()